{% extends 'blocks/root-page.html' %}
{% load static %}
{% block content %}

<header class="u-clearfix u-header u-header" id="sec-e7fd" style="background-color:#6a6ac1;"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        
        <div align='center'>
            <h1 class="u-align-center u-custom-font u-font-oswald u-text u-text-4">Our Team</h1>
        </div>
    
  </div>
</header> 

<section class="u-align-center u-clearfix u-section-1" id="carousel_4c94">
    <img class="u-expanded-width u-image u-image-1" src={% static "images/halo_bg.jpg" %}>
    <div class="u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        {% include 'blocks/cv-window.html' with name=name_1 role=role_1 description=desc_1 img_name=img_1 pdfV=pdf_1 %} 
        {% include 'blocks/cv-window.html' with name=name_2 role=role_2 description=desc_2 img_name=img_2 pdfV=pdf_2 %}
        {% include 'blocks/cv-window.html' with name=name_3 role=role_3 description=desc_3 img_name=img_3 pdfV=pdf_3 %}
        {% include 'blocks/cv-window.html' with name=name_4 role=role_4 description=desc_4 img_name=img_4 pdfV=pdf_4 %}
    </div>
</div>
</section>
    
    
<footer class="u-clearfix u-footer u-grey-80" id="sec-1d45"><div class="u-clearfix u-sheet u-sheet-1">
    <button class="button-18" onclick="document.getElementById('time').innerHTML = Date()"> Show current time</button>
<p id="time"></p>   
  </div></footer>


{% endblock content %}


